@import "../../../utills/theme/theme";
.file-list{
  &__header{
    display: grid;
    grid-template-columns: 1fr 3fr repeat(2,1fr) 2fr 1fr;
    padding: 20px 0 5px 0;
    border-bottom:2px solid  $primaryColor;
    &_name{
      grid-column-start: 2;
    }
    &_type{
      justify-self: center;
      grid-column-start: 4;
    }
    &_date{
      justify-self: center;
      grid-column-start: 5;
    }
    &_size{
      justify-self: center;
      grid-column-start: 6;
    }
  }
  & .table{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .file{
      display: block;
      max-width: 100px;
      width: 33%;
      margin: 15px;
      border: none;
      text-align: center;
    }
  }
  &__message{
    margin-top: 3rem;
    text-align: center;
  }
}


.file-enter-active{
  animation: file-enter 500ms forwards;
}
.file-exit-active{
  animation: file-exit 500ms forwards;
}

@keyframes file-enter {
  0%{
    opacity: 0;
    transform: translateY(-50%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes file-exit {
  0%{
    opacity: 1;
    transform: translateX(0);
  }
  100%{
    opacity: 0;
    transform: translateX(-100%);
  }
}
