@import "../../utills/theme/theme";

.disk{
  &__header{
    text-align: center;
  }
  &__drop-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: calc(100vh - 290px);
    border: 1px dashed $primaryColor;
  }
}
