@import "../../../utills/theme/theme";
.input{
  input {
    width: 100%;
    border: none;
    border-bottom: 2px solid $primaryColor;
    background-color: white!important;
    font-size: $baseFont;
  }
  input:focus{
    outline: none;
  }
  &_error input{
    border-bottom-color: red;
  }
}

.error_text{
  color: red;
}

.button{
  background-color: $primaryColor;
  border-radius: 20px;
  color: $secondColor;
  border: none;
  padding:10px 15px;
  font-weight: bold;
  transition: all 0.5s ease;
  &:focus{

    outline: none;
  }
  &:hover{
    cursor: pointer;
    transform: scale(0.95);
  }
}
